/*--
Author: Software Matcher
Author URL:
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/


/*Start General rules for all the site */

html,
body {
    font-size: 100%;
    font-family: 'Titillium Web', 'Arial';
    background: #ffffff;
    margin: 0px!important;
}
p {
    font-family: 'Arial', sans-serif;
    margin: 0;
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arial', sans-serif;
    margin: 0;
    text-transform: capitalize;
    font-weight: bold;

}
ul,
ol,
label {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*End General rules for all the site */


/*-- start header-top-left --*/


.header_left {
    float: left;
    padding: 0.7em 0 0.8em 13em;
    width: 50%;
    background: #3F424A;
}
.header_left ul li {
    display: inline-block;
    margin-right: 2em;
    font-size: 14px;
    color: #999;
}
.header_left ul li span {
    padding-right: 1em;
    color: #F4A907;
}
.header_left ul li a {
    color: #999;
    text-decoration: none;
}
.header_left ul li a:hover {
    color: #999;
}

/*-- start header-top-right --*/
.header_right {
    float: right;
    width: 50%;
    background: #F4A907;
    padding: 0.3em 0em 0.4em 24em;
}

/*-- End header-top-left --*/


/*-- Start social-media-bookmarks --*/

ul.social-media-bookmarks li {
    margin-left: 5px;
    display: inline-block;
}
ul.social-media-bookmarks li a i.fa {
    color: #000;
    background-color: #fff;
    width: 35px;
    height: 35px;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    line-height: 36px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
ul .social-media-bookmarks li a i.fa:hover {
    cursor: pointer;
    color: #fff;
    background-color: #3F424A;
}

/*-- End social-media-bookmarks --*/
/*-- End header-top-right --*/


/*-- Start nav-effect --*/

.navbar{
    margin-top: 40px;
    background-color: white !important;
}

.navbar>.container-fluid .navbar-brand{
    color: #F4A907;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    }

.navbar-default .navbar-nav>li>a {
    font-weight : bolder;
    width: 115px;
    margin-right: 5px;
    line-height: center;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    text-align: center;
    padding-bottom: 15px;
}

.navbar-default .navbar-nav>li>a: hover{
    color: #F4A907;
}
.navbar-default .navbar-nav>li:hover{
    color: #F4A907;
    box-shadow: 0 5px #F4A907;
    transition: all .5s ease-in-out;
}

.navbar-default .navbar-brand{
    color: #F4A907;
}
.navbar-default .navbar-brand:hover{
color:#3F424A;
}

.navbar-brand>img{
    margin-top: -25px;
}
/*.navbar-default .navbar-nav>.active>a{
    color:#F4A907 ;
    background-color: #FFF;
}
*/


.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    background-color: #F4A907;
}

.header {
    border-bottom: 1px solid #EAEAEA;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}
.navbar-nav {
    float: left;
   /*margin: 0.5em 0 0 7em;*/
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ccc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #FFF; 
    box-shadow: 0 5px #F4A907;

} 

.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 10px 0;
    color: #444!important;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color: #F4A907;
    box-shadow: 0 5px #F4A907;
    background-color: #FFF;
    cursor: pointer;
    transition: all .5s ease-in-out;

}

.header-bottom {
    position: relative;
    padding: 1em 0;
}

/*-- End nav-effect --*/

/* Start slider-Show */

.slider-show{
    overflow: hidden;
    background-color: transparent;
    -webkit-filter: saturate(70%);
    -moz-filter: saturate(70%);
    -o-filter: saturate(70%);
    -ms-filter: saturate(70%);
     -webkit-box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.3);

     
}
.slider-show .demo-inner-content h3{
  color: #fff;
  padding-top: 150px;
  font-size: 50px;
    
}    

.zs-enabled .zs-slideshow .zs-bullets .zs-bullet.active {
  background:#F4A907;
  border: 2px solid #F4A907;
}
/* End of slider-show*/

/* Start Footer Section */

.footer{
    margin-top: 40px;
    background: #3F424A;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a{
    color: #AAA;
}
.footer a:hover{
    color: #FFF;
}

.footer h3{
    font-size: 22px;
    color: #F4A907;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.footer .two-columns{
    overflow: hidden
}
.footer .two-columns li{
    width: 50%;
    float: left;
    padding: 5px 0;
}

.footer .social-list{
    overflow: hidden;
}
.footer .social-list li{
    margin-top: 10px;
    margin-right: 15px ;
    }
.footer .social-list li a i.fa:hover {
    background-color: #F4A907;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.media-body {
    font-size: 13px;
}
.media-body p{
    font-size: 5;
}

.footer .Contact-Us li{
    margin-top: 10px;
    margin-bottom: 20px;
}
