/*--
Author: Software Matcher
Author URL:
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/


/*Start General rules for all the site */

html,
body {
    font-size: 100%;
    font-family: 'Titillium Web', 'Arial';
    background: #ffffff;
    margin: 0px!important;
}
p {
    font-family: 'Arial', sans-serif;
    margin: 0;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arial', sans-serif;
    margin: 0;

    font-weight: bold;

}
ul,
ol,
label {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*End General rules for all the site */


/*-- start header-top-left --*/


.header_left {
    float: left;
    padding: 0.7em 0 0.8em 13em;
    width: 50%;
    background: #3F424A;
}
.header_left ul li {
    display: inline-block;
    margin-right: 2em;
    font-size: 14px;
    color: #999;
}
.header_left ul li span {
    padding-right: 1em;
    color: #F4A907;
}
.header_left ul li a {
    color: #999;
    text-decoration: none;
}
.header_left ul li a:hover {
    color: #999;
}

/*-- start header-top-right --*/
.header_right {
    float: right;
    width: 50%;
    background: #F4A907;
    padding: 0.3em 0em 0.4em 24em;
}

/*-- End header-top-left --*/


/*-- Start social-media-bookmarks --*/

ul.social-media-bookmarks li {
    margin-left: 5px;
    display: inline-block;
}
ul.social-media-bookmarks li a i.fa {
    color: #000;
    background-color: #fff;
    width: 35px;
    height: 35px;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    line-height: 36px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
ul .social-media-bookmarks li a i.fa:hover {
    cursor: pointer;
    color: #fff;
    background-color: #3F424A;
}

/*-- End social-media-bookmarks --*/
/*-- End header-top-right --*/


/*-- Start nav-effect --*/

.navbar{
    margin-top: 40px;
    background-color: white !important;
}

.navbar>.container-fluid .navbar-brand{
    color: #F4A907;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    }

.navbar-default .navbar-nav>li>a {
    font-weight : bolder;
    width: 115px;
    margin-right: 5px;
    line-height: center;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    text-align: center;
    padding-bottom: 15px;
}

.navbar-default .navbar-nav>li:hover{
    color: #F4A907;
    /*box-shadow: 0 5px #F4A907;*/
    transition: all .5s ease-in-out;
}

.navbar-default .navbar-brand{
    color: #F4A907;
}
.navbar-default .navbar-brand:hover{
color:#3F424A;
}

.navbar-brand>img{
    margin-top: -25px;
}
/*.navbar-default .navbar-nav>.active>a{
    color:#F4A907 ;
    background-color: #FFF;
}
*/


.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    background-color: #F4A907;
}

.header {
    border-bottom: 1px solid #EAEAEA;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}
.navbar-nav {
    float: left;
   /*margin: 0.5em 0 0 7em;*/
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ccc;

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #FFF;

    box-shadow: 0 5px #F4A907;

    transition: all .5s ease-in-out;

}

.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 10px 0;
    color: #444!important;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color: #F4A907;
    zoom: 1.2;
    height:2;
    -webkit-transition:all 5000ms ease-in-out;
    -moz-transition:height 1000ms ease-in-out;
    -o-transition:height 1000ms ease-in-out;
    transition:height 1000ms ease-in-out;
    /*box-shadow: 0 5px #F4A907;*/
    background-color: #F4A907;
    cursor: pointer;




}

.header-bottom {
    position: relative;
    padding: 1em 0;
}

/*-- End nav-effect --*/

/* Start slider-Show */

.slider-show{
    overflow: hidden;
    background-color: transparent;
    -webkit-filter: saturate(70%);
    -moz-filter: saturate(70%);
    -o-filter: saturate(70%);
    -ms-filter: saturate(70%);
     -webkit-box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.3);


}
.slider-show .demo-inner-content h3{
  color: #fff;
  padding-top: 150px;
  font-size: 50px;

}

.zs-enabled .zs-slideshow .zs-bullets .zs-bullet.active {
  background:#F4A907;
  border: 2px solid #F4A907;
}
/* End of slider-show*/

/* Start Brief Section */
.brief{
    margin-top: 20px;
    line-height: 30px
}

.brief h1{
    color: #F4A907;
}

.brief p{
    margin-top: 20px;
    font-size: 18px;
}
/* End Brief Section */

/* Start Footer Section */

.footer{
    margin-top: 40px;
    background: #3F424A;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a{
    color: #AAA;
}
.footer a:hover{
    color: #FFF;
}

.footer h3{
    font-size: 22px;
    color: #F4A907;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.footer .two-columns{
    overflow: hidden
}
.footer .two-columns li{
    width: 50%;
    float: left;
    padding: 5px 0;
}

.footer .social-list{
    overflow: hidden;
}
.footer .social-list li{
    margin-top: 10px;
    margin-right: 15px ;
    }
.footer .social-list li a i.fa:hover {
    background-color: #F4A907;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.media-body {
    font-size: 13px;
}
.media-body p{
    font-size: 5;
}

.footer .Contact-Us li{
    margin-top: 10px;
    margin-bottom: 20px;
}

/** Light box*/

/* End of light box*/


/** Contact-Us Pages */

/* contact us form*/

/* Form CSS*/
.ccform {
   margin: 0 auto;
    width: 800px;
    padding-left: 100px;
}
.ccfield-prepend{
	margin-bottom:10px;
	width:100%;
}
.contact-us-form .container {
  margin-top: 20px;
  background-color:#f29107;

}
.contact-us-form h1 {
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 115px;
}
.ccform-addon{
	color:#f8ae45;
	float:left;
	padding:8px;
	width:8%;
	background:#FFFFFF;
	text-align:center;
}

.ccformfield {
	color:#000000;
	background:#FFFFFF;
	border:none;
	padding:14.5px;
	width:80.9%;
	display:block;
	font-family: 'Lato',Arial,sans-serif;
	font-size:14px;
}

.ccformfield {
	font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
	display:block;
	border:none;
	background:#f8ae45;
	color:#FFFFFF;
	padding:12px;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
  text-align:center;
  width: auto;
  margin-left: 55px;
}
.ccbtn:hover{
	background:#d8850e;

}
/* End of contact us */
 /** Contact Information */
 .contact-info li
{
  color:#FFFFFF;
  font-size: 18px;
  margin-top: 10px;
}
.contact-info h2
{
 color:#FFFFFF;
 font-size: 30px;
 margin-top: 10px;
}

/** End of Contact Information */
/** End of Contact-Us pages */

/** Gallary Page **/
.gallery-grids.gallery-grids-mdl {
    margin: 2em 0;
}
.gallery-grids:nth-child(5) {
    float: right;
}
.gallery-grids a {
    display: block;
    overflow: hidden;
	position:relative;
}
.b-wrapper {
    background: rgba(0, 0, 0, 0.58);
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
	transition:.5s all;
	opacity: 0;
}
.gallery-grids a:hover .b-wrapper{
	height: 100%;
	opacity: 1;
}
.b-wrapper {
    text-align: center;
    padding: 19% 0;
}
.b-wrapper h5 {
    font-size: 3em;
    color: #1ABC9C;
    margin: .5em 0 .3em;
}
.b-wrapper h6 {
    color: #fff;
    font-size: 2.8em;
    font-weight: 600;
}
.b-wrapper p {
    color: #fff;
}
.gallery-grids.gallery-one .b-wrapper {
    padding: 39% 0;
}

img.zoom-img{
	-webkit-transform: scale(1, 1);
    transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
}
img.zoom-img:hover,.gallery-grids a:hover img.zoom-img{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 750ms;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: 750ms;
	-ms-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-ms-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	overflow: hidden;
}

/*End of Gallry */
